/*
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

	2. 	Element Base
	3. 	Helper Classes
	7. 	Page Templates
		a. 	Template: Cover Template
		c. 	Template: Full Width
	8.  Post: Archive
	9.  Post: Single
	10. Blocks
	11. Entry Content
	15. Widgets

----------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */

.main-content {
  & > * {
    margin-bottom: 15px;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
  }

  h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
  }

  .wp-block-image {
    img {
      width: 100%;
      height: 100%;
    }
  }
  /* -------------------------------------------------------------------------- */

  /*	2. Element Base
/* ---------------------------------------------*---------------------------- */

  em,
  i,
  q,
  dfn {
    font-style: italic;
  }

  em em,
  em i,
  i em,
  i i,
  cite em,
  cite i {
    font-weight: bolder;
  }

  b,
  strong {
    font-weight: 700;
  }

  ins {
    text-decoration: underline;
  }

  sub,
  sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sup {
    top: -0.5em;
  }

  sub {
    bottom: -0.25em;
  }

  abbr,
  acronym {
    cursor: help;
  }

  hr {
    border-style: solid;
    border-width: 0.1rem 0 0 0;
    border-color: #dcd7ca;
  }

  .entry-content hr,
  hr.styled-separator {
    background: linear-gradient(
      to left,
      currentColor calc(50% - 16px),
      transparent calc(50% - 16px),
      transparent calc(50% + 16px),
      currentColor calc(50% + 16px)
    );
    background-color: transparent !important;
    border: none;
    height: 0.1rem;
    overflow: visible;
    position: relative;
  }

  .entry-content hr:not(.has-background),
  hr.styled-separator {
    color: #6d6d6d;
  }

  .entry-content hr::before,
  .entry-content hr::after,
  hr.styled-separator::before,
  hr.styled-separator::after {
    background: currentColor;
    content: "";
    display: block;
    height: 1.6rem;
    position: absolute;
    top: calc(50% - 0.8rem);
    transform: rotate(22.5deg);
    width: 0.1rem;
  }

  .entry-content hr::before,
  hr.styled-separator::before {
    left: calc(50% - 0.5rem);
  }

  .entry-content hr::after,
  hr.styled-separator::after {
    right: calc(50% - 0.5rem);
  }

  a {
    color: #cd2653;
    text-decoration: underline;
  }

  a:hover,
  a:focus {
    text-decoration: none;
  }

  /* Lists ------------------------------------- */

  ul {
    list-style: disc;
  }

  ul ul {
    list-style: circle;
  }

  ul ul ul {
    list-style: square;
  }

  ol {
    list-style: decimal;
  }

  ol ol {
    list-style: lower-alpha;
  }

  ol ol ol {
    list-style: lower-roman;
  }

  /* Quotes ------------------------------------ */

  blockquote {
    border-color: #cd2653;
    border-style: solid;

    border-width: 0 0 0 0.2rem;
    color: inherit;
  }

  cite {
    color: #6d6d6d;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25;
  }

  blockquote cite {
    display: block;
  }

  /* Code -------------------------------------- */

  code,
  kbd,
  samp {
    background: rgba(0, 0, 0, 0.075);
    border-radius: 0.2rem;
  }

  pre {
    border: 0.1rem solid #dcd7ca;
    line-height: 1.5;
    overflow: auto;
    text-align: left;
  }

  pre code {
    background: transparent;
  }

  /* Media ------------------------------------- */

  figure {
    display: block;
  }

  iframe {
    display: block;
    max-width: 100%;
  }

  video {
    display: block;
  }

  svg,
  img,
  embed,
  object {
    display: block;
    height: auto;
    max-width: 100%;
  }

  figcaption,
  .wp-caption-text {
    color: #6d6d6d;
    display: block;
  }

  figcaption a,
  .wp-caption-text a {
    color: inherit;
  }

  blockquote.instagram-media,
  iframe.instagram-media {
    margin: auto !important;
  }

  /* GALLERIES */

  .gallery {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 1.6em);
  }

  .gallery-item {
    width: 100%;
  }

  .gallery-caption {
    display: block;
  }

  /* Tables ------------------------------------ */

  table {
    border: 0.1rem solid #dcd7ca;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    max-width: 100%;
    overflow: hidden;
    width: 100%;
  }

  th,
  td {
    border: 0.1rem solid #dcd7ca;
    line-height: 1.4;
    overflow: visible;
  }

  caption {
    background: #dcd7ca;
    font-weight: 600;
    text-align: center;
  }

  thead {
    vertical-align: bottom;
    white-space: nowrap;
  }

  th {
    font-weight: 700;
  }

  /*	3. Helper Classes
/* -------------------------------------------------------------------------- */

  /* Layout ------------------------------------ */

  .no-margin {
    margin: 0;
  }

  .no-padding {
    padding: 0;
  }

  .screen-height {
    min-height: 100vh;
  }

  .admin-bar .screen-height {
    min-height: calc(100vh - 32px);
  }

  @media (max-width: 782px) {
    .admin-bar .screen-height {
      min-height: calc(100vh - 46px);
    }
  }

  .screen-width {
    position: relative;
    left: calc(50% - 50vw);
    width: 100vw;
  }

  /* Sections ---------------------------------- */

  section {
    width: 100%;
  }

  .section-inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 120rem;
    width: calc(100% - 4rem);
  }

  .section-inner.max-percentage {
    width: 100%;
  }

  .section-inner.thin {
    max-width: 58rem;
  }

  .section-inner.small {
    max-width: 80rem;
  }

  .section-inner.medium {
    max-width: 100rem;
  }

  .section-inner.no-margin {
    margin: 0;
  }

  /* Toggles ----------------------------------- */

  .toggle {
    -moz-appearance: none;
    -webkit-appearance: none;
    color: inherit;
    cursor: pointer;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: inherit;
    user-select: none;
  }

  button.toggle {
    background: none;
    border: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
    letter-spacing: inherit;
    text-transform: none;
  }

  /* Hiding and Showing ------------------------ */

  .js .show-js {
    display: block !important;
  }

  .js .hide-js {
    display: none !important;
  }

  .no-js .show-no-js {
    display: block !important;
  }

  .no-js .hide-no-js {
    display: none !important;
  }

  .no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Colors ------------------------------------ */

  /* COLOR */

  .color-accent,
  .color-accent-hover:focus,
  .color-accent-hover:hover {
    color: #cd2653;
  }

  /* BACKGROUND COLOR */

  .bg-accent,
  .bg-accent-hover:focus,
  .bg-accent-hover:hover {
    background-color: #cd2653;
  }

  /* BORDER COLOR */

  .border-color-accent,
  .border-color-accent-hover:focus,
  .border-color-accent-hover:hover {
    border-color: #cd2653;
  }

  /* FILL COLOR */

  .fill-children-accent,
  .fill-children-accent * {
    fill: #cd2653;
  }

  .fill-children-current-color,
  .fill-children-current-color * {
    fill: currentColor;
  }

  /* Opacity ----------------------------------- */

  .opacity-0 {
    opacity: 0;
  }

  .opacity-5 {
    opacity: 0.05;
  }

  .opacity-10 {
    opacity: 0.1;
  }

  .opacity-15 {
    opacity: 0.15;
  }

  .opacity-20 {
    opacity: 0.2;
  }

  .opacity-25 {
    opacity: 0.25;
  }

  .opacity-30 {
    opacity: 0.3;
  }

  .opacity-35 {
    opacity: 0.35;
  }

  .opacity-40 {
    opacity: 0.4;
  }

  .opacity-45 {
    opacity: 0.45;
  }

  .opacity-50 {
    opacity: 0.5;
  }

  .opacity-55 {
    opacity: 0.55;
  }

  .opacity-60 {
    opacity: 0.6;
  }

  .opacity-65 {
    opacity: 0.65;
  }

  .opacity-70 {
    opacity: 0.7;
  }

  .opacity-75 {
    opacity: 0.75;
  }

  .opacity-80 {
    opacity: 0.8;
  }

  .opacity-85 {
    opacity: 0.85;
  }

  .opacity-90 {
    opacity: 0.9;
  }

  .blend-mode-exclusion {
    mix-blend-mode: exclusion;
  }

  .blend-mode-hue {
    mix-blend-mode: hue;
  }

  .blend-mode-saturation {
    mix-blend-mode: saturation;
  }

  .blend-mode-color {
    mix-blend-mode: color;
  }

  .blend-mode-luminosity {
    mix-blend-mode: luminosity;
  }

  /* Image Classes ----------------------------- */

  .bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-attachment-fixed {
    background-attachment: fixed;
  }

  @supports (-webkit-overflow-scrolling: touch) {
    .bg-attachment-fixed {
      background-attachment: scroll;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .bg-attachment-fixed {
      background-attachment: scroll;
    }
  }

  .wp-block-image.is-resized {
    margin-left: auto;
    margin-right: auto;
  }

  .post-inner {
    padding-top: 5rem;
  }

  .reduced-spacing.missing-post-thumbnail .post-inner {
    padding-top: 0;
  }

  /*	10. Blocks
/* -------------------------------------------------------------------------- */

  /* Block Colors ------------------------------ */

  .has-text-color a {
    color: inherit;
  }

  /* CUSTOM COLORS */

  :root .has-accent-color {
    color: #cd2653;
  }

  :root .has-accent-background-color {
    background-color: #cd2653;
    color: #fff;
  }

  :root .has-primary-color {
    color: #000;
  }

  :root .has-primary-background-color {
    background-color: #000;
    color: #f5efe0;
  }

  :root .has-secondary-color {
    color: #6d6d6d;
  }

  :root .has-secondary-background-color {
    background-color: #6d6d6d;
    color: #fff;
  }

  :root .has-subtle-background-color {
    color: #dcd7ca;
  }

  :root .has-subtle-background-background-color {
    background-color: #dcd7ca;
    color: #000;
  }

  :root .has-background-color {
    color: #f5efe0;
  }

  :root .has-background-background-color {
    background-color: #f5efe0;
    color: #000;
  }

  /* Block: Shared Nesting Alignment Resets ---- */

  [class*="__inner-container"]
    .wp-block-group:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright),
  [class*="__inner-container"]
    .wp-block-cover:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright) {
    margin-left: auto;
    margin-right: auto;
    max-width: 58rem;
  }
  /* Block: Pullquote -------------------------- */

  /* STYLE: DEFAULT */

  .wp-block-pullquote::before {
    background: #fff;
    border-radius: 50%;
    color: #cd2653;
    content: "â€";
    display: block;
    font-size: 50px;
    font-weight: 500;
		text-align: center;
		width: 100%;
		margin-bottom: -25px;
  }

  .reduced-spacing .wp-block-pullquote::before {
    border: 0.1rem solid currentColor;
  }

  .wp-block-pullquote blockquote {
    border: none;
    margin: 0;
    padding: 0;
  }

  .wp-block-pullquote blockquote p {
		font-size: 20px;
		text-align: center;
    font-weight: 700;
		max-width: 80%;
		margin-left: auto;
		margin-right: auto;
  }

  .wp-block-pullquote p:last-of-type {
    margin-bottom: 0;
  }

  .wp-block-pullquote cite {
    color: #6d6d6d;
    font-size: 1.6rem;
    font-weight: 500;
  }

  .wp-block-pullquote.alignleft p,
  .wp-block-pullquote.alignright p {
    font-size: 2.8rem;
  }

  .wp-block-pullquote.alignleft {
    text-align: left;
  }

  .wp-block-pullquote.alignright {
    text-align: right;
  }

  .wp-block-pullquote.alignleft::before {
    margin-left: 0;
  }

  .wp-block-pullquote.alignright::before {
    margin-right: 0;
  }

  /* STYLE: SOLID BACKGROUND COLOR */

  .wp-block-pullquote.is-style-solid-color {
    padding: 3rem 2rem;
  }

  .wp-block-pullquote.is-style-solid-color::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  .wp-block-pullquote.is-style-solid-color.alignleft::before,
  .wp-block-pullquote.is-style-solid-color.alignright::before {
    transform: translateY(-50%);
  }

  .wp-block-pullquote.is-style-solid-color.alignleft::before {
    left: 2rem;
  }

  .wp-block-pullquote.is-style-solid-color.alignright::before {
    left: auto;
    right: 2rem;
  }

  .wp-block-pullquote.is-style-solid-color blockquote {
    max-width: 100%;
    text-align: inherit;
  }

  .wp-block-pullquote.is-style-solid-color cite {
    color: inherit;
  }

  /* STYLE: WIDE */

  .wp-block-separator.is-style-wide {
    max-width: calc(100vw - 4rem);
    position: relative;
    width: 100%;
  }

  /* STYLE: DOTS */

  .wp-block-separator.is-style-dots::before {
    background: none;
    color: inherit;
    font-size: 3.2rem;
    font-weight: 700;
    height: auto;
    letter-spacing: 1em;
    padding-left: 1em;
    position: static;
    transform: none;
    width: auto;
  }

  .wp-block-separator.is-style-dots::after {
    content: none;
  }

  /* Block: Table ------------------------------ */

  .wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
    background: #dcd7ca;
  }

  figure.wp-block-table.is-style-stripes {
    border-bottom: none;
  }

  .wp-block-table.is-style-stripes table {
    border-collapse: inherit;
  }

  /* Block: Quote ------------------------------ */

  .wp-block-quote p,
  .wp-block-quote cite {
		text-align: inherit;
		margin-left: 8px;
  }

  .wp-block-quote[style="text-align:center"] {
    border-width: 0;
    padding: 0;
  }

  .wp-block-quote[style="text-align:right"] {
    /*rtl:begin:ignore*/
    border-width: 0 0.2rem 0 0;
    padding: 0 2rem 0 0;

    /*rtl:end:ignore*/
  }

  /* STYLE: LARGE */

  .wp-block-quote.is-large,
  .wp-block-quote.is-style-large {
    border: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .wp-block-quote.is-large p,
  .wp-block-quote.is-style-large p {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 1.285;
  }

  .wp-block-quote.is-large cite,
  .wp-block-quote.is-large footer,
  .wp-block-quote.is-style-large cite,
  .wp-block-quote.is-style-large footer {
    font-size: 1.6rem;
    text-align: inherit;
  }

  .post-inner .entry-content > .wp-block-cover.alignwide:first-child,
  .post-inner .entry-content > .wp-block-cover.alignfull:first-child {
    margin-top: 0;
  }

  /* Alignment Classes ------------------------- */

  .entry-content
    > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
    max-width: 58rem;
    width: calc(100% - 4rem);
  }

  [class*="__inner-container"]
    > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
    max-width: 58rem;
    width: 100%;
  }

  [class*="__inner-container"]
    > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright) {
    margin-left: auto;
    margin-right: auto;
  }

  /* Full */

  .alignfull {
    max-width: 100vw;
    position: relative;
    width: 100%;
  }

  [class*="__inner-container"] > .alignfull {
    max-width: 100%;
  }

  /* Wide */

  .alignwide {
    max-width: 120rem;
    position: relative;
    width: calc(100% - 4rem);
  }

  [class*="__inner-container"] > .alignwide {
    width: 100%;
  }

  /* Center */

  .aligncenter,
  .aligncenter img {
    margin-left: auto;
    margin-right: auto;
  }

  /* Left and right */

  .alignleft,
  .alignright {
    max-width: 50%;
  }

  .alignleft {
    /*rtl:ignore*/
    float: left;
  }

  .alignright {
    /*rtl:ignore*/
    float: right;
  }

  /* Entry Media ------------------------------- */

  .alignfull > figcaption,
  .alignfull > .wp-caption-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 58rem;
    width: calc(100% - 4rem);
  }
}
