@font-face {
  font-family: Proxima Nova;
  src: local(Proxima Nova),
    url(./fonts/ProximaNova-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Proxima Nova;
  src: local(Proxima Nova),
    url(./fonts/ProximaNova-Extrabld.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Proxima Nova;
  src: local(Proxima Nova),
    url(./fonts/ProximaNova-SemiboldIt.ttf) format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: Proxima Nova;
  src: local(Proxima Nova),
    url(./fonts/ProximaNovaT-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Proxima Nova;
  src: local(Proxima Nova),
    url(./fonts/ProximaNova-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Proxima Nova;
  src: local(Proxima Nova),
    url(./fonts/ProximaNova-BlackIt.ttf) format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: Proxima Nova;
  src: local(Proxima Nova),
    url(./fonts/ProximaNova-BoldIt.ttf) format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Proxima Nova;
  src: local(Proxima Nova),
    url(./fonts/ProximaNova-ThinIt.ttf) format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: Proxima Nova;
  src: local(Proxima Nova),
    url(./fonts/ProximaNova-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Proxima Nova;
  src: local(Proxima Nova),
    url(./fonts/ProximaNova-RegularIt.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Proxima Nova;
  src: local(Proxima Nova),
    url(./fonts/ProximaNova-ExtrabldIt.ttf) format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: Proxima Nova;
  src: local(Proxima Nova),
    url(./fonts/ProximaNova-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Proxima Nova;
  src: local(Proxima Nova),
    url(./fonts/ProximaNova-LightIt.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Proxima Nova;
  src: local(Proxima Nova),
    url(./fonts/ProximaNova-Semibold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
