$colorGray: #a1a1a1;
$colorLightGray: #f2f2f2;
$colorBlue: #477bff;
$colorHeader: #212121;
$colorDate: #7b7b7b;
$colorWhite: #ffffff;
$colorTag: #ff8271;

:root {
  --color-gray: #{$colorGray};
  --color-light-gray: #{$colorLightGray};
  --color-blue: #{$colorBlue};
  --color-header: #{$colorHeader};
  --color-date: #{$colorDate};
  --color-white: #{$colorWhite};
  --color-tag: #{$colorTag};
}

$bpTabletMax: 1000px;
$bpTabletMin: 768px;
$bpMobileMax: 480px;
$bpMobileMin: 320px;

@for $i from 1 to 24 {
  $r: $i * 4px;
  .mt-#{$i} {
    margin-top: $r;
  }
  .ml-#{$i} {
    margin-left: $r;
  }
  .mb-#{$i} {
    margin-bottom: $r;
  }
  .mr-#{$i} {
    margin-right: $r;
  }
  .mx-#{$i} {
    margin-left: $r;
    margin-right: $r;
  }
  .my-#{$i} {
    margin-top: $r;
    margin-bottom: $r;
  }
  .ma-#{$i} {
    margin: $r;
  }

  $n: $i * -4px;
  .mt-n#{$i} {
    margin-top: $n;
  }
  .ml-n#{$i} {
    margin-left: $n;
  }
  .mb-n#{$i} {
    margin-bottom: $n;
  }
  .mr-n#{$i} {
    margin-right: $n;
  }
  .mx-n#{$i} {
    margin-left: $n;
    margin-right: $n;
  }
  .my-n#{$i} {
    margin-top: $n;
    margin-bottom: $n;
  }
  .ma-n#{$i} {
    margin: $n;
  }
}
@for $i from 1 to 24 {
  $r: $i * 4px;
  .pt-#{$i} {
    padding-top: $r;
  }
  .pl-#{$i} {
    padding-left: $r;
  }
  .pb-#{$i} {
    padding-bottom: $r;
  }
  .pr-#{$i} {
    padding-right: $r;
  }
  .px-#{$i} {
    padding-left: $r;
    padding-right: $r;
  }
  .py-#{$i} {
    padding-top: $r;
    padding-bottom: $r;
  }
  .pa-#{$i} {
    padding: $r;
  }


  $n: $i * -4px;
  .pt-n#{$i} {
    padding-top: $n;
  }
  .pl-n#{$i} {
    padding-left: $n;
  }
  .pb-n#{$i} {
    padding-bottom: $n;
  }
  .pr-n#{$i} {
    padding-right: $n;
  }
  .px-n#{$i} {
    padding-left: $n;
    padding-right: $n;
  }
  .py-n#{$i} {
    padding-top: $n;
    padding-bottom: $n;
  }
  .pa-n#{$i} {
    padding: $n;
  }
}

.clickable {
  cursor: pointer;
}

.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}

.content-wrapper {
  width: 1200px;
  height: 100%;
  margin: {
    left: auto;
    right: auto;
  }
}

.h2 {
  font-family: Proxima Nova, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
}
.h3 {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
}
.h4 {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
}
.h5 {
  font-family: Proxima Nova;
  font-size: 24px;
  line-height: 28px;
}
.h6 {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.title {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 95px;
}

@media (max-width: $bpTabletMax) {
  .h5 {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
  }
  .title {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
  }
}

.sub-header {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.paragraph {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
}

.tag_small {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  z-index: 1;
}

.header_live {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.adds-placeholder {
  background-color: $colorLightGray;
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  height: 100%;
}

.overlay {
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hr {
  height: 2px;
  background-color: $colorLightGray;
  grid-column: span 8;
}