$colorGray: #a1a1a1;
$colorLightGray: #f2f2f2;
$colorLoader: #f9f9f9;
$colorBlue: #477bff;
$colorHeader: #212121;
$colorDate: #7b7b7b;
$colorWhite: #ffffff;
$colorTag: #ff8271;

:root {
  --color-gray: #{$colorGray};
  --color-light-gray: #{$colorLightGray};
  --color-blue: #{$colorBlue};
  --color-header: #{$colorHeader};
  --color-date: #{$colorDate};
  --color-white: #{$colorWhite};
  --color-tag: #{$colorTag};
}

$bpDesktopMin: 1250px;
$bpTabletMax: 1000px;
$bpTabletMin: 768px;
$bpMobileMax: 480px;
$bpMobileMin: 320px;

@for $i from 1 to 24 {
  $r: $i * 4px;
  .mt-#{$i} {
    margin-top: $r;
  }
  .ml-#{$i} {
    margin-left: $r;
  }
  .mb-#{$i} {
    margin-bottom: $r;
  }
  .mr-#{$i} {
    margin-right: $r;
  }
  .mx-#{$i} {
    margin-left: $r;
    margin-right: $r;
  }
  .my-#{$i} {
    margin-top: $r;
    margin-bottom: $r;
  }
  .ma-#{$i} {
    margin: $r;
  }

  $n: $i * -4px;
  .mt-n#{$i} {
    margin-top: $n;
  }
  .ml-n#{$i} {
    margin-left: $n;
  }
  .mb-n#{$i} {
    margin-bottom: $n;
  }
  .mr-n#{$i} {
    margin-right: $n;
  }
  .mx-n#{$i} {
    margin-left: $n;
    margin-right: $n;
  }
  .my-n#{$i} {
    margin-top: $n;
    margin-bottom: $n;
  }
  .ma-n#{$i} {
    margin: $n;
  }
}
@for $i from 1 to 24 {
  $r: $i * 4px;
  .pt-#{$i} {
    padding-top: $r;
  }
  .pl-#{$i} {
    padding-left: $r;
  }
  .pb-#{$i} {
    padding-bottom: $r;
  }
  .pr-#{$i} {
    padding-right: $r;
  }
  .px-#{$i} {
    padding-left: $r;
    padding-right: $r;
  }
  .py-#{$i} {
    padding-top: $r;
    padding-bottom: $r;
  }
  .pa-#{$i} {
    padding: $r;
  }

  $n: $i * -4px;
  .pt-n#{$i} {
    padding-top: $n;
  }
  .pl-n#{$i} {
    padding-left: $n;
  }
  .pb-n#{$i} {
    padding-bottom: $n;
  }
  .pr-n#{$i} {
    padding-right: $n;
  }
  .px-n#{$i} {
    padding-left: $n;
    padding-right: $n;
  }
  .py-n#{$i} {
    padding-top: $n;
    padding-bottom: $n;
  }
  .pa-n#{$i} {
    padding: $n;
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.search-enter-active,
.search-leave-active {
  transition: opacity 0.3s;
}
.search-enter,
.search-leave-to {
  opacity: 0;
}

.clickable {
  cursor: pointer;
}

.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}

.content-wrapper {
  width: 1200px;
  height: 100%;
  margin: {
    left: auto;
    right: auto;
  }
}

.h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
}
.h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
}
.h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
}
.h5 {
  font-size: 24px;
  line-height: 28px;
}
.h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 95px;
}

.sub-header {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
}

.tag_small {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  z-index: 1;
}

.header_live {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.adds-placeholder {
  background-color: $colorLightGray;
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  height: 100%;
}

.overlay {
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hr {
  height: 2px;
  background-color: $colorLightGray;
  grid-column: span 8;
}

.date {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: $colorGray;
  z-index: 1;
}

.loader {
  position: relative;
  overflow: hidden;
  color: transparent;
  background-color: white;
  z-index: 1;
  border-radius: 3px;
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(
      to right,
      transparent 0%,
      #e8e8e8 50%,
      transparent 100%
    );
    animation: loading 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
}

@keyframes loading {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}

@media (max-width: $bpDesktopMin) {
  .content-wrapper {
    width: 100%;
    padding: {
      left: 20px;
      right: 20px;
    }
  }
}
@media (max-width: $bpTabletMax) {
  .h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
  }
  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
  }
}
